* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/matthew-t-rader-yJgNGkPTxnY-unsplash.jpg);
    background-attachment: fixed;
    background-position-x: 100% auto;
    background-repeat: no-repeat;
}

.nav-bar {
    background-color: #0D0D0D;
    padding: 0 16px;
}

.nav-header {
    display: inline;
    margin-left: 10%;
    background-color: #404040;
    height: 10vh;
}

#logo {
    display: inline-block;
    padding: 9px;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: #D9D9D9;
}

.nav-links {
    display: inline;
    font-size: 18px;
    margin-right: 10%;
}

.nav-links a {
    display: inline-block;
    padding: 14px 10px;
    text-decoration: none;
    color: #D9D9D9;
    letter-spacing: 2px;
}

.nav-links a:hover {
    background-color: rgba(217, 217, 217, 0.15);
}

.container {
    background-color: rgba(217, 217, 217, 0.7);
    margin: 10vh 10vw 10vh 10vw;
    padding: 0 0 12px;
    border: 2px double #737373;
    border-radius: 15px;
    width: auto;
    height: auto;
}

.container-header {
    border-radius: 13px 13px 0 0;
    background-color: #404040;
    color: #D9D9D9;
}

.container-header h1 {
    margin-left: 15px;
}

.container-content {
    margin: 5px 14px 0;
}

.contact-info li {
    margin-bottom: 15px;
}

input, 
label{
    display: block;
}

input,
label,
textarea{
    margin: 5px 10px;
    width: 80%;
}