* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #D9D8D7;
    font-family: sans-serif;
}

/* Nav bar */

/* //////////////////////////////////////////////////////////////////////////////////////// */

nav {
    background-color: #262626;
    color: whitesmoke;
    position: absolute;
    top: 5%;
    z-index: 20;
    width: 80%;
    margin: 0 10%;
    padding: 0 3%;
    border-radius: 100vw;
    box-shadow: -1px 5px 6px rgb(41, 41, 41, 0.6);
}

nav .logo {
    font-size: 26px;
    display: inline-block;
    float: left;
    padding: 6px 0;
}

nav .nav-links {
    display: inline;
    float: right;
}

nav .nav-links ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

nav .nav-links li {
    font-size: 16px;
    display: inline-block;
    padding: 11px 6px;
}

@keyframes slideColor {
    0% {
        background-position: 0% 82%;
    }
    100% {
        background-position: 100% 19%;
        color: rgb(26, 26, 26);
    }
}


@-webkit-keyframes slideColor {
    0% {
        background-position: 0% 82%;
    }
    100% {
        background-position: 100% 19%;
        color: rgb(26, 26, 26);
    }
}
nav .nav-links li:hover {
    background: linear-gradient(120deg, #262626, #262626, rgb(226, 226, 226), rgb(226, 226, 226));
    background-size: 1000%;
    -webkit-animation: slideColor ease 1s;
    -webkit-animation-fill-mode: forwards;
            animation: slideColor ease 1s;
            animation-fill-mode: forwards;
}

nav .nav-links li a {
    text-decoration: none;
    color: inherit;
}

nav .nav-links li a:active, nav .nav-links li a:visited {
    /* text-decoration: none; */
    color: inherit;
}

nav .toggleMenu .fa-arrow-left {
    color: rgb(226, 226, 226);
    display: none;
}

/* nav .toggleMenu .fa-arrow-right {
    color: rgb(226, 226, 226);
    display: none;
} */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* landing */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: aqua;
    width: 100%;
    height: 100vh;
    z-index: 10;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing #ui-ux-dec {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(90deg);
    transform-origin: 0 50%;
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Media Queries */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 720px) {
    nav {
        text-align-last: center;
        top: 3%;
    }
    nav .logo {
        float: none;
    }
    nav .nav-links {
        display: none;
        float: none;
    }
    nav .toggleMenu .fa-arrow-left {
        display: inline;
        float: right;
        position: absolute;
        transform: scale(1.35);
        bottom: 11px;
        left: 92%;
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */