* {
    box-sizing: border-box;
}

.nav-bar {
    background-color: rgb(29, 230, 146);
}

.nav-header {
    display: inline;
    margin-left: 10%;
}

#logo {
    display: inline-block;
    ;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.nav-links {
    display: inline;
    font-size: 18px;
    margin-right: 10%;
}

.nav-links a {
    display: inline-block;
    padding: 14px 10px;
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 2px;
}

.nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.container {
    background-color: rgba(0, 0, 0, 0.03);
    margin: 10% 10% 10% 10%;
    padding: 0 0 12px;
    width: auto;
    height: 70%;
}

.container-header {
    background-color: rgb(29, 230, 146); 
}

.container-header h1 {
    margin-left: 15px;
}